@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital@0;1&family=Open+Sans:wght@300;400&display=swap');

:root{
    --white: #fff;
    --black: #000;
    --background-dark: rgb(18,18,18);
    --background-dark-elements: rgba(18,18,18,0.9);
    --background: #fff;
    --color1: #1c31a5;
    --color2: #101f78;
    --color3: #020f59;
    --color4: #010937;
    --color5: #000524;
    --color6: #00a9d4;
    --color7: #1c3166;
    --color8: #240047;
    --color9:#1c0021;
    --slider-padding: 3rem;
    --img-gap: .25rem;
    --images-per-screen: 5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}


body{
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 100%;
    color: var(--white);
    background-color: var(--black);
}

.off{
    overflow: hidden !important;
}

.welcome-title h1{
    padding: 5px;
    border-radius: 10px;
    background: rgba(0,0,0,0.8);
    font-weight: normal;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(7px);
    z-index: 999;
    
}

header .container{
    padding: 0 2%;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

header .hd-left, .hd-right{
    display: flex;
    align-items: center;
    
}

header .hd-left{
    min-width: 120px;
    justify-content: flex-start;
    gap: 70px;
}

header .hd-right{
    width: 65%;
    justify-content: space-between;
}

header #cg-logo{
    width: 200px;
    height: 70px;
}

header .logo-img{
    cursor: pointer;
    background: url('../../source/codeguide.png') no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-in-out;
}

header .logo-img:hover{
    opacity: .6;
}

/* Header Menu */
.container-menu{
    min-width: 20%;

}

.container-mobile .menu-mobile{
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(7px);
    width: 100%;
    bottom: 0;
    z-index: 999;
}

a.menu-mobile-button{
    color: var(--white);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    transition: all 0.5s ease;
}

a.menu-mobile-button i{
    font-size: 22px;
}

a.menu-mobile-button:hover{
    color: var(--color6);
}

#menu-dropdown{
    min-width: 130px;
    border-radius: 7px;
    border: 1px solid var(--color1);
    background-color: rgba(0, 0, 0, 0.1);
    padding: 8px;
    width: 70%;
    color: var(--white);
    backdrop-filter: drop-shadow(0 0 0.75rem var(--color1));
    font-size: 1.1rem;
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-family: 'Courier New', Courier, monospace;
    }

#menu-dropdown:hover{
    color: white;   
    filter: drop-shadow(0 0 0.75rem var(--color6));
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid var(--color6);
}

#wrapper-menu{
    position: absolute;
    top: 50px;
    left: 0;
    display: none;
    max-width: 100%;
    overflow: hidden;
}

#menu {
  display: flex;
  justify-content: space-around;
  background: rgb(0,0,0);
  background: linear-gradient(135deg, rgba(0,0,0,1) 50%, rgba(0,5,36,1) 100%);
  left: 0;
  height: 200px;
  width: 100vw;
  margin-top: 15px;
  padding: 20px 2%;
  list-style: none;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}    

#menu ul h4{
    color: var(--color1);
    font-size: 1.2rem;
}

#menu ul li{
    display: flex;
    flex-direction: column;
}

#menu ul li a{
    color: white;
    transition: all 0.2s ease-in;
}

#menu ul li a:hover{
    transform: scale(1.1);
    color: var(--color6);
}

#menu ul li a::before{
    content: '<';
    padding: 0 3px;
    color: var(--color6);
}

#menu ul li a::after{
    content: '/>';
    padding: 0 3px;
    color: var(--color6);
}

/* Header Barra de pesquisa */
.search-active{
    opacity: 1;
    width: 100%;
}
.search-inactive{
    opacity: 0;
    width: 50%;
}

header .search-bar{
    width: 50%;
    position: relative;
}

header .search-box{
    width: 100%;
    height: 40px;
    outline: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    color: white;
    padding: 5px 20px;
    border: 2px solid var(--color1);
    backdrop-filter: drop-shadow(0 0 0.75rem var(--color1));
    background: rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
}

header .search-box:focus{
    filter: drop-shadow(0 0 0.25rem var(--color6));
    border: 2px solid var(--color6);
    background: rgba(0, 0, 0, 0.1);
    color: white;
}

header .search-box:focus + label{
    color: var(--color6);
}

header .search-box::placeholder{
    transition: color 0.3s ease-in-out;
}

header .search-box:focus::placeholder{
    color: white;
}

header .search-bar label{
    cursor: pointer;
    color: var(--white);
    position: absolute;
    right: 0%;
    top: 20%;
    z-index: 10;
    transform: translate(-50%, 0);
    transition: 0.3s ease;
}

/* Header Avatar Icon */
header #profile{ 
    order: 4;
    width: 100px;
    height: 60px;
    text-align: center;
    cursor: pointer;
}

header #profile i{
    font-size: 28px;
    color: var(--color2);
    padding: 10px;
    transition: all .5s ease;
}

header #profile i:hover{
    filter: drop-shadow(0px -5px 0.75rem var(--color1));
    color: white;
}

header #profile .user-options{
    position: absolute;
    right: 1%;
    top: 70px;
    z-index: 99;
    display: none;
}

header #profile .user-options ul{
    background: var(--color5);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    min-width: 150px;
    backdrop-filter: blur(7px);
}

header #profile .user-options li{
    padding: 10px;
}

header #profile .user-options li a{
    font-size: 20px;
    color: var(--white);
    transition: all 0.3s ease-in-out;
}

header #profile .user-options li:hover a{
    color: var(--color1);
}

.mobile-profile-options{
    display: none;
    position: absolute;
    bottom: 60px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: rgba(0, 0, 0, 0.9);
    padding: 10px 2px;
    border: 1px solid var(--color6);
    z-index: 998;
}

.mobile-profile-options ul li{
    padding: 10px 15px;
    position: relative;
    
}

.mobile-profile-options ul li::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--color6);
    transition: all 0.8s ease;
}

.mobile-profile-options ul li:hover::before{
    width: 100%;
}

.mobile-profile-options ul li a{
    font-size: 1.4rem;
    color: white;
    transition: all 0.3s ease-in-out;
}

.mobile-profile-options ul li:hover a{
    color: var(--color6);
}

/* Header Mobile Menu */
.mobile-category{
    display: none;
    transition: opacity 0.6s ease-in-out;
    width: 100%;
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    overflow-y: auto;
    height: calc(100vh - 61px);
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(7px);
    z-index: 999;
    padding: 10px;
}

.mobile-category nav{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.mobile-category h4{
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.mobile-category h4:hover{
    color: var(--color1);
}

.mobile-category ul li{
    padding: 8px 0;
    cursor: pointer;
    text-align: center;
}


.mobile-category ul li a{
    color: white;
    font-size: 1.3rem;
    transition: all 0.3s ease-in-out;
}

.mobile-category ul li:first-child{
    border-top: 1px solid var(--color6);
}

.mobile-category ul li:last-child{
    margin-bottom: 5px;
    border-bottom: 1px solid var(--color6);
}

.mobile-category ul li a:hover{
    color: var(--color6);
    transform: scale(1.1) !important;
}

.mobile-category ul li a::before{
    content: '<';
    padding: 0 3px;
    color: var(--color6);
}

.mobile-category ul li a::after{
    content: '/>';
    padding: 0 3px;
    color: var(--color6);
}

/* Header Responsividade */
@media (max-width: 850px){
    header .hd-right{
        width: 70%;
        justify-content: flex-end;
        gap: 50px;
    }

    header .search-bar{
        width: 55%;
    }

    header .search-box{
        width: 100%;
        opacity: 1;
    }

    header .search-bar i{
        cursor: pointer;
        color: var(--white);
        position: absolute;
        right: 0%;
        top: 25%;
        transform: translate(-50%, 0);
        transition: 0.3s ease;
    }

    header #profile{ 
        order: 4;
        width: 50px;
    }

}

@media (max-width: 595px){
    .container-mobile{
        display: block;
    } 
    .container-mobile .menu-mobile{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    header .container-menu{
        display: none;
        
    }

    header .search-bar{
        width: 100%;
    }

    header #search-box{
        width: 50%;
        opacity: 0;
    }


    header .search-bar i{
        font-size: 20px;
    }

    header #profile{ 
        display: none;
    }

    /* Menu categorias */
    .mobile-category{
        display: none;
    }

    footer{
        margin-bottom: 50px;
    }

}

/* Footer */
footer{
    border-top: 2px solid var(--color1);
    width: 100%;
    height: auto;
    background: var(--black);
}

footer .container{
    max-width: 1200px;
    padding: 10px 10px 40px 10px;
    
}

footer .footer-text{
    padding: 10px;
    text-align: center;
    font-size: 0.9rem;
}

footer .footer-text p{
    padding: 5px 0;
    text-align: center;
}

footer .footer-social-media{
    padding: 5px 0;
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
}

footer .footer-social-media i{
    font-size: 30px;
    transition: all 0.6s ease;
}

footer .footer-social-media i:hover{
    cursor: pointer;
    transform: scale(1.1);
    filter: drop-shadow(0 0 1rem var(--color1));
}

/* Scroll bar */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 8px;
    background: var(--color5);
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--color3); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--color2); 
  }


/* Buttons */
  .btn-1{
    cursor: pointer;
    height: 42px;
    width: 100px;
    background: black;
    outline: none;
    border: none;
    color: var(--color6);
    font-size: 1rem;
    border-radius: 5px;
}

/* Alert */
.alert{
    display: none;
    color: var(--white);
    padding: 15px 20px;
    font-size: 18px;
    width: 100%;
    top: 70px;
    position: fixed;
    z-index: 2000;
    background: rgba(14, 14, 14, 0.8);
    backdrop-filter: blur(7px);
}

section.search-result-container{
    margin-top: 100px !important;
}